[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.devnet]
arcium_mxe = "8qbRSancKocbWrqkrr5EJGFMMjGunK2rJYgfJn5heZyH"

[programs.localnet]
arcium_mxe = "3zCEhhfBEYKiGDYw2tBrz7tVYa1QCDMWTdQFjyLMrWHp"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""

[hooks]
